#menu {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 600px;
    height: 50px;
}
#body {
    position: fixed;
    top: 250px;
    right: 200px;
    width: 1200px;
    height: 400px;
}
#link {
    font-family: arial;
    color: grey;
  font-weight: bold;
}
#footer {
    font-family: Arial;    
    font-size: 14px;
    position: fixed;
    top: 700px;
    right: 50px;
    width: 1500px;
    height: 30px;
	background: #CCC;
	padding: 10px;
}
#footerLeft {
	float: left;
}
#footerRight {
	float: right;
}
#logo {
    background-image: url('../img/googlelogo.png');
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:100px;
}
#textbox {
    position: fixed;
    top: 370px;
    right: 520px;	
}
#btnSearch {
    position: fixed;
    top: 480px;
    right: 820px;	
}
#btnLucky {
    position: fixed;
    top: 480px;
    right: 700px;	
}


.btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  font-weight: bold;
  color: #111;  font-size: 12px;
  box-shadow-color: #999;
  box-shadow-x: 0;
  box-shadow-y: ;
  box-shadow-blur: 1;
  background: #ddd;
  padding: 5px 5px 5px 5px;
  border: solid #333 1px;
  text-decoration: none;
}

.btn:hover {
  background: #eee;
  background-image: -webkit-linear-gradient(top, #ccc, #ddd);
  background-image: -moz-linear-gradient(top, #ccc, #ddd);
  background-image: -ms-linear-gradient(top, #ccc, #ddd);
  background-image: -o-linear-gradient(top, #ccc, #ddd);
  background-image: linear-gradient(to bottom, #ccc, #ddd);
  text-decoration: none;
}

.inp {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  position: relative;
  right: 10;
  padding: 10px 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-overflow: clip;
  background: url("../img/micro.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: contain;
  background-size: contain;
}

/* unvisited link */
a:link {
    color: #333;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #333;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #333;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #333;
    text-decoration: none;
}